# Dependencies
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

*.docx

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
build/

# App data and user documents (runtime state, recreated by the server on boot)
data/
deleted_markdowns/
public/docs/
